body {
  background-color: #f0f1f5;
  margin: 0px;
}

table,
td {
  border: solid;
  height: 200px;
  text-align: center;
  padding: 20px;
}
th {
  height: 50px;
  text-align: center;
  border: solid;
}

/* div {
  background: gray;
  margin: 0px;
} */

.fit-img {
  width: 200px;
  height: auto;
}

.header {
  margin-left: 0px;
  width: 100%;
  height: auto;
  background-image: url("./resource/web-image/banner-genshin.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  /* border-style: solid;
    border-width: 50px; */
  box-sizing: border-box;
}

.avater {
  width: 70px;
  border-radius: 16px;
  background-color: #db904c;
}

.content {
  padding: 30px;
  margin: 10px auto;
  max-width: 1280px;
}

.text {
  font-weight: bold;
  font-size: 15px;
}

#header-left {
  /* margin-left: 10px; */
  width: 400px;
  height: 100px;
  color: white;
  padding-left: 10px;
  padding-top: 10px;
  margin-left: 10px;
  margin-bottom: 1px;
  position: relative;

  background-color: rgb(54, 54, 54);
}

#guide-bar {
  /* for safari */
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  padding: 20px;
  margin-bottom: 10px;
  background-color: white;
  box-sizing: content-box;
  font: 24px Arial;
}

#left-content {
  display: inline-block;
  /* float: left; */
  background-color: khaki;
  max-width: 810px;
  padding: 20px;
  font: 20px Arial;
}

#right-content {
  /* float: left; */
  display: inline-block;
  vertical-align: top;
  padding: 30px;
  margin-left: 25px;
  background-color: grey;
  width: 360px;
  height: 1000px;
  /* overflow: hidden; */
}
